site_name: Agentic Server Docs
theme:
  name: material
  features:
#    - navigation.expand
#    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - toc.integrate
#    - toc.follow
    - header.autohide
    - content.code.annotate
    - content.code.copy
    - content.tabs.link

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
  - search
  - neoteroi.mkdocsoad:
      use_pymdownx: true

markdown_extensions:
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - mkdocs-click

nav:
  - Home: index.md
  - Guide:
      - Overview: guide/index.md
      - Getting Started: guide/getting_started.md
      - Configuration: guide/configuration.md
  - Architecture:
      - Overview: architecture/index.md
      - Build & Versioning: architecture/build.md
      - Code:
          - CLI: architecture/code/cli.md
  - API Reference: api/index.md
