site_name: Agentic Server Docs
theme:
  name: material
  features:
#    - navigation.expand
#    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - toc.integrate
#    - toc.follow
    - header.autohide
    - content.code.annotate
    - content.code.copy
    - content.tabs.link

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
  - search
  - neoteroi.mkdocsoad:
      use_pymdownx: true

markdown_extensions:
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Guide: guide/index.md
  - Architecture: architecture/index.md
  - API Reference: api/index.md
